$def with(f)

<!DOCTYPE html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119269866-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

  			gtag('config', 'UA-119269866-1');
		</script>
		<link href="https://fonts.googleapis.com/css?family=Roboto|Inconsolata" rel="stylesheet">
		<link href="static/style.css" rel="stylesheet">
	</head>
	<body>
		<h1 style="font-family: Inconsolata;">www.tweetsim.com</h1>
		<br/>
		<h2 class="says">Enter your Twitter handle:</h2>
		<form name="main" method="POST" class="forms" style="width: 185px; margin: 0 auto;">
			$if not f.valid:
				<p class="error">Error, try again</p>
			$:f.render()
			<br/>
			<input type="submit" value="Generate Tweet"/>
		</form>
		<p class="notice">Note: please be patient! It may take a minute to generate the first tweet, since we have to download all of your tweets and learn from them. After that, you can generate more instantly!</p>
		<br/>
		<br/>
		<p style="font-family: Inconsolata;"><a href="https://www.twitter.com/adboio">twitter</a> | <a href="https://www.github.com/adboio">github</a> | <a href="http://www.adbo.io">me</a></p>
	</body>
</hmtl>

